{
  "extends": "stylelint-config-standard",
  "rules": {
    "max-empty-lines": 2,
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": [
        "mixin",
        "include",
        "function",
        "return"
      ]
    }]
  }
}
